@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <h3>Лабораторна робота № 3</h3>
</div>
<div>
    <p>
    Файл "<b>Students.csv</b>" має наступну структуру: <em>код студента</em>, <em>прізвище</em>, <em>група</em>, <em>курс</em>.<br/>
    Файл "<b>Clubs.csv</b>" має наступну структуру: <em>назву гуртка</em> та <em>код студента</em>.
    <p/>
    <p>
        <b>Виконати наступні завдання:</b>
    </p>
    <p/>
    <ol>
        <li>Після авторизації користувача надати йому можливість переглянути вміст файлів на окремих web-сторінках.</li>
        <li>Вивести чотирьох студентів, які відвідують найбільшу кількість гуртків.</li>
        <li>Вивести кількість студентів 1-го та 3-го курсів, які займаються у гуртку із заданою назвою.</li>
    </ol>
</div>
